<p>product-card works!</p>
<div class="card border rounded" style="width: 13rem;">
  <img src="{{product.productImage}}" class="card-img-top" alt="..." height="220">
  <div class="card-body">
    <h6 class="card-title">{{product.productName}}</h6>
    <p class="card-text"><strong> {{product.price | currency : 'INR' : true:'1.2-3'}}</strong></p>
    <div class="card-footer p-0">
      <button class="btn-block btn btn-block btn-light btn-outline-primary" (click)="addToCart(product)">Add To
        Cart</button>
    </div>
  </div>
</div>