
  
  #sideFilter{
    position: fixed;
    margin-left : 0;
}
#storeComponent{
    margin-left: 10rem;
   
}

#placeOrder{
    margin-top: 10rem ;
}
 
  
  .table-image  td th{
    
      vertical-align: middle;
    
  }

  .table{
      white-space: nowrap;
      border: 5rem;
  }

  .display-6{
      font-weight: 100;
  }