<p>cart-details works!</p>
<div class="container-fluid">
  <div class="row mt-3">
    <div hidden id="sideFilter" class="col-2 ">
    </div>
<div id="storeComponent" class="col-5 mt-5">
      <table class="table table-image table-striped table-bordered centered">
        <thead>
          <tr>
            <th class="w-1">ProductID</th>
            <th class="w-1">ProductName</th>
            <th class="w-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of cartService.cartDetailsArray">
            <th>{{p.productId}}</th>
            <td>{{p.productName}}</td>
            <td>
              <button type="button" class="btn btn-success">
                <i class="fa fa-cog" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
      </div>
    </div>
    <div id="placeOrder" class="col-4">
      <button type="button" class="btn btn-primary">
        Place Order</button>
    </div>
  </div>
</div>