<div class="container mt-5">
  <div class="row ">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-left" 
data-toggle="modal" data-target="#exampleModal"
(click)="addProductButtonClick()"
data-backdrop="static" data-keyboard="false">
    Add Product
</button>

<!-- All-Product-List-Start-Here  -->
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th  class="w-15">ProductID</th>
                <th  class="w-15">ProductName</th>
                <th  class="w-15">Price</th>
                <th  class="w-15">CategoryID</th>
                <th >ProductImage</th>
                <th class="w-15">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let p of productService.productlist | paginate : {
                id: 'listing_pagination',
                itemsPerPage : 4,
                currentPage : page,
                totalItems : productService.arrayLength
              }">
                <th >{{p.productId}}</th>
                <td>{{p.productName}}</td>
                <td>{{p.price}}</td>
                <td>{{p.categoryId}}</td>
                <td class="w-15">
                    <img src="{{p.productImage}}" height="75px" width="75px">
                </td>
                <td>
                  <button type="button" data-toggle="modal" data-target="#exampleModal" 
                  (click)="onUpdateProductFromList(p)" class="btn btn-success" data-backdrop="static" 
                  data-keyboard="false">
                    <i class="fa fa-cog" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-danger" (click)="onDelete(p)">
                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table> 
          <div>
            <pagination-controls  id="listing_pagination" maxSize="4" 
            directionLinks="true" (pageChange)="page = $event">
          </pagination-controls>
          </div>  
      </div>
    </div>
</div>
<!-- All-Product-List-End-Here -->








<!-- Add-Product-Modal-Start-Here -->
<div class="modal fade " id="exampleModal"  *ngIf ="AddProductModalOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="form-froup row" style="width: 90%;">
              <label class="col-md-4 col-form-label">Product Name</label>
              <div class="col-sm-8 active">
                  <input type="text" class="form-control" [(ngModel)]="product.productName"
                  placeholder="Enter Product Name" autofocus>
              </div>
              <label class="col-sm-4 col-form-label">Category</label>
              <div class="col-sm-8">
                 <select class="form-control" [(ngModel)]="categoryIdInput">
                     <option>--Select--</option>
                     <option *ngFor="let category of categoryService.categoriesList">
                      {{category.categoryId}}){{category.categoryName}}
                     </option>
                 </select>
              </div>
              <label class="col-sm-4 col-form-label">Price</label>
              <div class="col-sm-8">
                  <input type="number"  [(ngModel)]="product.price">
              </div>
              <label class="col-sm-4 col-form-label">Quantity</label>
              <div class="col-sm-8">
                  <input type="number"  [(ngModel)]="product.quantity">
              </div>
              <label class="col-sm-4 col-form-label">Product Status</label>
              <div class="col-sm-8">
                  <label class="radio-inline m-2">
                      <input type="radio" [(ngModel)] ="product.productStatus"  value="Approved"checked>Approved
                    </label>
                    <label class="radio-inline">
                      <input type="radio"[(ngModel)] ="product.productStatus" value="NonApproved" >NonApproved
                    </label>
              </div>
          </div>
          </div>
          <button (click)="addProduct(product)"  data-dismiss="modal" class="btn btn-primary" >
              Add Product
          </button>
      </div>
    </div>
  </div>
</div>
<!-- Add-Product-Modal-End-Here -->




<!-- Update-Product-Modal-Start-Here -->
<div class="modal fade " id="exampleModal"  *ngIf ="UpdateProductModalOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="form-froup row" style="width: 90%;">
              <label class="col-md-4 col-form-label">Product Name</label>
              <div class="col-sm-8 active">
                  <input type="text" class="form-control" [(ngModel)]="product.productName"
                  placeholder="Enter Product Name" autofocus>
              </div>
              <label class="col-sm-4 col-form-label">Category</label>
              <div class="col-sm-8">
                 <select class="form-control" [(ngModel)]="categoryIdInput">
                     <option>--Select--</option>
                     <option *ngFor="let category of categoryService.categoriesList">
                      {{category.categoryId}}){{category.categoryName}}
                     </option>
                 </select>
              </div>
              <label class="col-sm-4 col-form-label">Price</label>
              <div class="col-sm-8">
                  <input type="number"  [(ngModel)]="product.price">
              </div>
              <label class="col-sm-4 col-form-label">Quantity</label>
              <div class="col-sm-8">
                  <input type="number"  [(ngModel)]="product.quantity">
              </div>
              <label class="col-sm-4 col-form-label">Product Status</label>
              <div class="col-sm-8">
                  <label class="radio-inline m-2">
                      <input type="radio" [(ngModel)] ="product.productStatus"  value="Approved"checked>Approved
                    </label>
                    <label class="radio-inline">
                      <input type="radio"[(ngModel)] ="product.productStatus" value="NonApproved" >NonApproved
                    </label>
              </div>
          </div>
          </div>
          <button (click)="updateProduct(product)" data-dismiss="modal" class="btn btn-primary">
            Update Product
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Update-Product-Modal-End-Here -->

