<div class="container-fluid">
  <div class="row mt-2">
    <div id="sideFilter" class="col-md-2 bg-light">
      <ul class="navbar-nav mt-5">
        <li class="nav-item active">
          <a class="nav-link" routerLink='productlist'>Products</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='customerlist'>Customers</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='customerlist'>Categories</a>
        </li>
      </ul>
    </div>
    <div id="storeComponent" class="col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>