<div class="mt-5">
    <h6>Category</h6>
    <hr>
    <div *ngFor="let category of categoriesArrayList ; index as i" class="custom-control custom-radio m-3 p-2">
        <input type="radio" name="category" id="a{{i}}" value="{{category.categoryId}}" class="custom-control-input">
        <label (click)="onSelectedCategory(category.categoryId)" for="a{{i}}"
            class="custom-control-label"><strong>{{category.categoryName}}</strong></label>
    </div>
</div>