<p>login-customer-module works!</p>
<div hidden appLogin (setForm)="setForm($event)" [formElementslogin]="formElementslogin"></div>
<div class="text-center">
    <form  [formGroup]="loginForm" (ngSubmit)="submitForm()"  class="form-signin border rounded">
        <img class="mb-2" src='assets/cart.png' alt="" width="80" height="80">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in!!</h1>

        <p *ngIf='success' class="alert-alert-success">{{success}}</p>
        <p *ngIf='error' class="alert-alert-danger">{{error}}</p>

        <!-- email -->
        <input type="email" id="email" formControlName="email"  class="form-control" placeholder="Email address" required autofocus>
        <!-- password -->
        <input type="password" id="password" formControlName="password"  class="form-control" placeholder="Password" required autofocus>
        <button class="mt-3 btn btn-lg btn-success border rounded btn-block" type="submit" >Submit</button>
        <p class="mt-3 text-muted">&copy; 2020-2021</p>
      </form>
</div>

