<div  class="container-fluid">
    <div class="row mt-4">
        <div id="sideFilter" class="col-md-2 bg-light">
            <app-filter></app-filter>
        </div>
        <div id="storeComponent" class="col-md-10 ">
            <app-store></app-store>
        </div>
    </div>
</div>