<p>store-works!</p>
<div class="row">
    <div  class="m-2"  *ngFor="let product of productsArrayList | productSearchBar : searchStringFilter | categoryFilter : searchCategoryID">
        <app-product-card [product]='product'></app-product-card>
    </div>
</div>
